<div class="panel-student-list">
  <table>
    <!--  HEAD  -->
    <thead>
      <tr> <!--table row - wiersz tabeli-->
        <th>Lp.</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Data urodzenia</th>
      </tr>
    </thead>
    <!--  BODY  -->
    <!--  BODY  -->
    <!--  BODY  -->
    <tbody>
      <tr>
        <td>1</td>
        <td>Paweł</td>
        <td>Gaweł</td>
        <td>2000-03-04</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Paweł</td>
        <td>Gaweł</td>
        <td>2000-03-04</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Paweł</td>
        <td>Gaweł</td>
        <td>2000-03-04</td>
      </tr>
    </tbody>
  </table>
</div>
